body { background: #4088fa; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 45px; display: flex; }
.block-product-0 { color: #c7691b; font-size: 15px; margin-bottom: 5px; }
.block-email-1 { color: #e5d1a1; font-size: 19px; margin-bottom: 5px; }
.block-helper-2 { color: #85ebd2; font-size: 15px; margin-bottom: 5px; }
.block-cart-3 { color: #4604e8; font-size: 20px; margin-bottom: 5px; }
.block-user-4 { color: #d2771; font-size: 19px; margin-bottom: 5px; }
.block-router-5 { color: #443431; font-size: 19px; margin-bottom: 5px; }